body {
    background-color: hotpink;
}
h1 {
    color: red;
}

p {
    color: orange;
}
p {
    color: yellow;
}
p {
    color: green;
}
p {
    color: blue;
}

img {
    width: 25em;
    height: 40em;
    display: block;
    margin: 0 auto;
}


