h1 {
    color: darkmagenta;
    background-color: lightgreen;
}

p {
    color: rebeccapurple;
    background-color: lightpink;
}

img {
    width: 25em;
    height: 40em;
    display: block;
    margin: 0 auto;
}


