body {
    background-color: hotpink;
}
h1 {
    color: red;
}

p.p1 {
    color: orange;
}
p.p2 {
    color: yellow;
}
p.p3 {
    color: green;
}
p.p4 {
    color: blue;
}
p.p5 {
    color: purple;
}

img.cat {
    width: 50em;
    height: 40em;
    display: block;
    margin: 0 auto;
}




